@tailwind base;
@tailwind components;
@tailwind utilities;

.font-accent {
  font-family:'Pacifico', cursive;
}

@keyframes fall {
  0% {
    transform: translateY(-10vh) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}

.animate-fall {
  animation: fall linear infinite;
}

.font-handwritten { font-family: "YourHandwrittenFont", cursive; }
.font-cursive { font-family: "YourCursiveFont", cursive; }
.font-modern { font-family: ui-sans-serif, system-ui; }
.font-classic { font-family: ui-serif, Georgia, serif; }
